<<<<<<< HEAD
div {
  background-color: #ffffff;
  Salut
  color: #000000;
  font-size: 16px;
=======
div {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
>>>>>>> d3d1810b23fd223ae85a7bb413c6b775850b47a3
}