body {
    font-family: 'Times New Roman', Times, serif;
    background-color: snow;
}

h1 {
    text-align: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-size: 50px;
  
    
}

h3 {
    text-align: center;
}

.carte__texte {
    text-align: center;
    
}





.projet {
    width: 80%;
    margin: auto;
}

.cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
/**l image va a la ligne si besoin**/


.carte {
    display: flex;
    flex-direction: column;
    align-item: center;
    width: 30%;
    border: 1px solid salmon;
    border-radius: 10px;
    margin: 10px;
}
.carte:hover {
    box-shadow: 2px 2px 20px #080808;
    transform: translateY(-5px);
}

.carte__texte {
    text-align: center;
}

.formulaire {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(161, 72, 64);
}

.forumulairenew__input, .forumulairenew__textarea {
    display: flex;
    flex-direction: row;
    margin: 1cm;
}

.forumulairenew__inputtext input {
    margin-left: 10cm;
    height: 1cmcm;
}

.forumulairenew__inputlien input {
    margin-left: 10cm;
    height: 1cmcm;
}



button {
    width: 100px;
    margin-left: 43.5%;
}

#black {
    position: absolute;
    background-color: black;
    top: 1cm;
    left: 1cm;
    border-radius: 20px;
    color: aliceblue;
    width: 2cm;
    text-align: center;
}

#salmon {
    position: absolute;
    border-radius: 20px;
    background-color: blanchedalmond;
    top: 2cm;
    left: 1cm;
    width: 2cm;
    text-align: center;
}

.black {
    background-color: black;
    color: aliceblue;
}

.salmon {
    background-color: blanchedalmond;
}

.fade-in {
    opacity: 1;

}

