/* CSS SUR DES TAGS */

body {
    font-family: 'Times New Roman', Times, serif;
}
input {
    
    margin-top: 10px;
    
    
}
label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
textarea {
    
    margin-top: 10px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    color: blue;
}

h1 {
    color: rgb(216, 26, 147);
    font-style: bold;
    text-align: center;
    
}

/* .carte a {
    width: 100%;
} */



/* CSS SUR DES CLASSES */
.black {
    background-color: black;
    color: aliceblue;
}
.carte {
    transition: opacity 1s; 
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid salmon;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
}

.carte__image {
    width: 100%;

}


.carte:hover {
    box-shadow: 2px 2px 20px #080808;
    transform: translateY(-5px);
}

.carte__texte {
    text-align: center;
}
.cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center{
    text-align: center;
}
.dragging{
    /* position: absolute; */
    transition: all 0s;
}
.fa-rotate-right{
    transition: all 0.2s;
}
.fa-rotate-right:hover{
    font-size: 125%;
}
.fa-trash-can{
    transition: all 0.2;
    text-align: right;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
}
.fa-music{
    padding: 1rem;
}
.fa-trash-can:hover{
    font-size: 150%;
}
.faded{
    opacity: 0;
}
.formulaire {
    max-width: 700px;
    margin: 2rem auto;
    border: 1px solid salmon;
    border-radius: 10px;
   
}
.formulaire__bouton{
    /* width: 100px; */
    margin: auto 2rem;
    margin-bottom: 1rem;
   
    margin-left: 47%;
    
}
.forumulairenew__textarea {
    margin-top: 2rem;
}
.formulaire__titre{
    padding-top: 2rem;
}
.forumulairenew__inputtext input {
    margin-left: 1em;
}
.forumulairenew__inputtext{
    text-align: center;
    margin: 1em auto;
}
.forumulairenew__inputlien input {
    margin-left: 1em;
}
.forumulairenew__inputlien{
    text-align: center;
}
.icons-box{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.invisible{
    transition: opacity 0s !important; 
    opacity: 0 !important;
}
.projet__titre{
  transition: opacity 2s ease-in-out;
  font-size: 3rem;
}
.projet{
    width: 80%;
    margin: auto;
}
.salmon {
    background-color: blanchedalmond;
}
.text-projet{
    resize: none;
    width: 50%;
    height: 5rem;
}
.theme-btn{
    border-radius: 20px;
    width: 2cm;
    text-align: center;

}






/* CSS SUR DES ID */
#black {
    background-color: black;
    color: aliceblue;
}
#salmon {
    background-color: blanchedalmond;
    color: black;
}

.red{
    color: red;
}