body{
    padding-top: 100px;
    padding-left: 170px;
    padding-right: 170px;
   background-color: black;
}
h1{
    font-style: oblique;
    color: red;
    text-align: center;
}

.black{
    padding-left: 0%;
    padding-top: 0px;
    color:aliceblue;
}
.salmon {
    padding-left: 0%;
    padding-top: 10px;
    color:aliceblue;
}

.blackk {
    background-color: white;

}
.salmonn{
    background-color: salmon;
}